h5py==2.10.0
PyYAML==5.3.1
jax==0.1.68
jaxlib==0.1.47
tqdm==4.45.0
scipy==1.4.1
pickleshare==0.7.5
imageio==2.8.0
scikit-learn==0.22.2.post1
six==1.14.0
sklearn==0.0
tensorboard==1.15.0
tensorboard-plugin-wit==1.6.0.post3
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.2
Cython==0.29.17
numpy==1.18.4
pandas==1.0.3
matplotlib==3.2.1
numba==0.49.1
umap==0.1.1
umap-learn==0.4.3












